Package: telegram-wingpanel-icons
Version: 0.1
Section: x11
Priority: optional
Architecture: all
Maintainer: man0xff <man0xff@gmail.com>
Description: Telegram icons for Wingpanel
 Better looking Telegram status icons for Wingpanel
Homepage: https://github.com/man0xff/telegram-wingpanel-icons
